# IntelliJ IDEA files
.idea/

# Gradle files
.gradle/
build/

# Compiled files
out/
*.class

# Logs
*.log

# IDE specific files
*.iml
*.ipr
*.iws
*.classpath
*.project

# OS-specific files
.DS_Store
Thumbs.db
